.expensetable{
    position: relative;
    top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

table {

    width: 100%;
    border-collapse: collapse;
    
  }

  table thead tbody tr{
    display: flex;
    justify-content: space-between;
    
  }

  

  th, td {
    padding: 12px;
    text-align: left;
    width: 25%;
    
  }

  th {
    background-color: rgb(16, 14, 52);
    border-bottom: 1px solid white;
  }

  .icon {
    position: absolute;
    right: 0;
    margin-right: 20px;
  }

  .icon i{
    padding-right: 30px;
    cursor: pointer;
  }

  .icon i:hover{
    color: greenyellow;
    transition: background 0.2s ease-in-out;
  }